.mmm-sonos ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.mmm-sonos ul .name,
.mmm-sonos ul .art {
  display: inline-block;
  vertical-align: middle;
}
.mmm-sonos ul .name {
  padding: 0 .25em;
}
.mmm-sonos ul .art img {
  height: 100px;
}
.mmm-sonos ul .room {
  font-size: 50%;
  padding: .25em .5em;
}
.mmm-sonos ul.flip {
  direction: rtl;
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
